<div class="home container" id="weightloss-app">

    <div class="jumbotron row">
        <h2 class="pull-right">Incomplete <i class="fa fa-thumbs-o-down"></i></h2>
        <h1>Weightloss App</h1>
    </div>

    <div class="row">
        <span class="pull-right text-info">
            Logged in as {{user.first_name}} {{user.last_name}}
        </span>
    </div>

    <div class="row panel panel-default">
        <div class="panel-heading">
            <h2>Your Goal</h2>
        </div>
        <div class="panel-body">

            <p>Your current goal weight is
                <span class="text-info">{{currentGoal.weight_goal}} kg</span>.
                At <span class="text-info">{{relativeGoalInfo.current}} kgs</span>, you are
                <span class="text-{{relativeGoalInfo.colour}}">{{relativeGoalInfo.phrase}}</span> your target weight</p>

            <p>
                <input type="number" ng-model="currentGoal.weight_goal" ng-change="goalUpdated()"/>
                <small>(tmp) bound goal @todo make directive and save</small>
            </p>
        </div>
    </div>

    <div class="row panel panel-default">
        <div class="panel-heading">
            <h2>Your logs</h2>
        </div>
        <div class="panel-body">

            <button class="btn btn-primary btn-lg pull-right" ng-click="promptAddLog()"><i class="fa fa-plus"></i> Add Log</button>
            
            <table class="table table-striped table-hover">
                
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Weight (kg)</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr ng-repeat="log in allLogs | limitTo:10">
                        <td>{{log.date | date:'mediumDate'}}</td>
                        <td>{{log.weight}}</td>
                        <td>
                            <span class="buttons pull-right">
                                <button class="btn btn-info" ng-click="promptEditLog(log)"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger" ng-click="promptDeleteLog(log)"><i class="fa fa-trash"></i></button>
                            </span>
                        </td>
                    </tr>
                </tbody>
                
            </table>

        </div>
    </div>

    <div class="row panel panel-default">
        <div class="panel-heading">
            <h2>Graph</h2>
        </div>
        <div class="panel-body">

            <highchart id="weightGraph" config="chartConfig"></highchart>

        </div>
    </div>

</div>